{% block head %}
    {% include 'partial/head.twig' %}
    {% include 'partial/header.twig' %}
{% endblock %}

{% block content %}
    <div id='logM'>{% block logModule %}{% endblock %}</div>
    <div id='menuM'>{% block menuModule %}{% endblock %}</div>
    <div id='profM'>{% block profileModule %}{% endblock %}</div>
{% endblock %}

{% block footer %}
    {% include 'partial/footer.twig' %}
{% endblock %}