{% extends 'base.twig' %}
{% block content %}
    <body>
    Hello Világ!(
    {{ session.username }} )!

    {% block logModule %}
        <form action="" method="post">
            <input type="submit" name="loginStart" value="Login">
        </form>
    {% endblock %}

    <div id="menuleft2" align="left">
        {% block newsmodule %}
            (+ {{ session.username }} +)
        {% endblock %}
        !
    </div>

    </body>
{% endblock %}