{% block articlesUpModule %}
    <form method="post">
        Title: <input type="text" name="userWriteTitle"></br>
        Article: <input type="text" name="userWriteNews"></br>
        <input type="submit" name="userUploadNews" value="SendIn">
        <input type="reset" name="resetUploadNews" value="Cancel">
    </form>
{% endblock %}