{% block articlesUpModule %}
    <form>
        Title: <input type="text" name="userWriteTitle"></br>
        Article: <input type="text" name="userWriteNews"></br>
        <input type="reset" name="resetUploadNews" value="Cancel">
        <input type="submit" name="userUploadNews" value="SendIn">
    </form>
{% endblock %}