{% block menuModule %}
<div>
    <form method="post">
        <div>
        <input type="submit" name="userProfile" value="Profile"/>
        <input type="submit" name="userSendNews" value="Send Article"/>
        <input type="submit" name="userLogOut" onclick="userLogOff()" value="Logout"/>
        </div>
    </form>
</div>
    <script>
        function userLogOff() {
            //alert("Visszlát " + {{ session.username }} + "!");
            alert("Visszlát!");
        }
    </script>
{% endblock %}