{% block %}
<div>
    <form>
        <input type="submit" name="userProfile" value="Profile">
        <input type="submit" name="userSendNews" value="Send Article">
        <input type="submit" name="userLogOut" value="Logout">
    </form>
</div>
{% endblock %}