{% block menuModule %}
<div>
    <form method="post">
        <div>
        <input type="submit" name="userProfile" value="Profile"/>
        <input type="submit" name="userSendNews" value="Send Article"/>
        <input type="submit" name="userLogOut" value="Logout"/>
        </div>
    </form>
</div>
{% endblock %}