{% block onlineUsersList %}
    <div>
        <label>Name:</label>
        <li><input type="submit" name="otherUserProfile" value="{{ onlineList.username }}"/></li>
        {# <label>{{ onlineList.username }}</label> #}
    </div>
{% endblock %}