{% block signUpModule %}
    <form method="POST">
        <div>
            <label for="firstName">Firstname:</label>
            <input type="text" id="firstName" name="firstName"/>
        </div>
        <div>
            <label for="lastName">Lastname:</label>
            <input type="text" id="lastName" name="lastName"/>
        </div>
        <div>
            Username: <input type="text" name="userName"/>
        </div>
        <div>
            Password: <input type="password" name="password"/>
        </div>
        <div>
            Re-Password: <input type="password" name="passwordConfirm"/>
        </div>
        <div>
            E-mail: <input type="email" name="email"/>
        </div>
        <div>
            Born:
            <input type="text" name="dateOfBirth[year]" size="2" maxlength="4"/>
            <input type="text" name="dateOfBirth[month]" size="1" maxlength="2"/>
            <input type="text" name="dateOfBirth[day]" size="1" maxlength="2"/>
        </div>
        <div>
            <input type="submit" name="sendSignUp" value="Register">
            <input type="reset" name="resetSignUp" value="Reset">
        </div>
    </form>
{% endblock %}