{% block content %}
    <body>
    <div id="menuleft1" align="left">
        {% block content %}{% include '\..\page.php' %}{% endblock %}
        <div id="menuleft2" align="left">
            {% block %} Hi! session.username! {% endblock %}
        </div>
    </div>
    <div name="right" align="right">
        <form action="articleUploader.php" method="get">
            {% block %}
                Session ID: session_id();
            {% endblock %}
        </form>
    </div>
    <div name="mid" align="center">
        <?php include("news.php"); ?>
    </div>
    </body>
{% endblock %}